/* @group reset */

body {
	margin: 0;
}

/* @end */

/* @presentation */

.preso-wrapper {
	padding: 23px 0 34px;
}

.preso-root > div {
	margin: 0 18px;
}

/* @end */

/* @group pagers */
.nav-pager,
.nav-prev-next {
	font-size: small;
	line-height: 1;
	list-style: none;
	margin: 0;
	overflow: hidden;
	position: fixed;
	z-index: 100;
}
.nav-pager li, 
.nav-prev-next li {
	border: none;
	float: left;
	padding: 0; 
}
.nav-pager a, 
.nav-prev-next a {
	display: block;
	line-height: 1;
	text-decoration: none;
}
.nav-pager {
	bottom: 1px;
	left: 2px;
	padding-left: 0;
}
.nav-pager li {
	margin-right: 2px;
}
.nav-pager a,
.nav-prev-next a {
	padding: 4px 11px;
	text-decoration: none;
}
.nav-prev-next {
	right: 2px;
	top: 0;
}
.nav-prev-next li {
	margin-left: 2px;
}
/* @end */

/* @end */

/* @group Slide content */

.slide-content.padded {
	padding: 50px;
}

.slide-content.page {
	padding: 30px 0;
}

/* @end */
