/* @group reset */

body {
	margin: 0;
}

/* @end */
/* @group utility */
.hide { display: none; }
.contain-overflow { overflow: hidden; }
.screen-reader { display: block; left: -9999px; position: absolute; top: -9999px; }
.row:after, .clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.amp { font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif; font-size: 1.1em; font-style: italic; font-weight: normal; }
/* @end */

/* @group =base */
body {
  background-color: white;
  color: black;
	font: 24px/36px Helvetica, Arial, Sans-Serif;
}

	/* @group -headers */
	h1, h2, h3, h4, h5, h6 { font-weight: normal; }
	h1 { font-size: 18px; line-height: 18px; }
	h2, h3, h4, h5 { font-family: Georgia, "Times New Roman", Times, serif; }
	h2 { color: #6cbdb5; font-size: 60px; line-height: 60px; }
	/* @end */

	/* @group -links */
	a, a:link { text-decoration: underline; }
	a:visited {}
	a:hover { text-decoration: none; }
	a:active {}
	/* @end */
	
	/* @group -basic text */
	p, ol, ul, table { margin: 0 0 30px; }
	ul { list-style: square; }
	li { padding: 20px 0; }
	li:first-child { padding-top: 0; }
	li:last-child { border-bottom: none; padding-bottom: 0; }
	/* @end */

	/* @group -header/footer */
header, footer {
	color: #fff;
  font-size: 14px; 
  line-height: 14px;
  position: fixed;
  width: 100%;
  z-index: 10;
	background-color: rgba(0, 75, 255, 0.5);
}
header {
	height: 22px;
	top: 0;
}
footer {
	bottom: 0;
	height: 23px;
	text-align: right;
}
header.doc h1 {
	margin: 0 0 0 20px;
}
footer small {
	position: relative;
	top: 4px;
}
/* @end */	
	
/* @group -form elements */
button { 
	cursor: pointer; 
	overflow: visible;
	width: auto;
}
label { font-weight: bold; }
/* @end */		

/* @end */

#slides {
	padding-top: 23px;
}

/* @group -pagers */
.nav-pager,
.nav-prev-next {
	font-size: small;
	line-height: 1;
	list-style: none;
	margin: 0;
	overflow: hidden;
	position: fixed;
	z-index: 100;
}
.nav-pager li, 
.nav-prev-next li {
	border: none;
	float: left;
	padding: 0; 
}
.nav-pager a, 
.nav-prev-next a {
	display: block;
	line-height: 1;
}
.nav-pager {
	bottom: 1px;
	left: 2px;
	padding-left: 0;
}
.nav-pager li { margin-right: 2px; }
.nav-pager a,
.nav-prev-next a {
	background: #93ccc6;
	color: rgba(26,31,30,0.5);
	padding: 4px 11px;
	text-decoration: none;
}
.nav-pager .current a, .nav-prev-next a:hover { background: #6cbdb5; color: #fff; }
.nav-prev-next { right: 2px; top: 0; }
.nav-prev-next li { margin-left: 2px; }
/* @end */

/* @end */

/* @group Slide content */

.slide-content.padded {
	padding: 50px;
}

.slide-content.page {
	padding: 30px 0;
}

/* @end */
